body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f0f3f5;
    margin: 0;
    padding: 0;
}

.register-container textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}


.register-container {
    max-width: 450px;
    margin: 70px auto;
    padding: 35px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.register-container h2 {
    color: #c0392b;
    margin-bottom: 25px;
}

.register-container form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.register-container input[type="text"],
.register-container input[type="email"],
.register-container input[type="password"],
.register-container input[type="number"],
.register-container select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register-container input[type="submit"] {
    background-color: #c0392b;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.register-container input[type="submit"]:hover {
    background-color: #e74c3c;
}

#bloodGroupField select{
    width: 100%;
}

.btn{
    text-decoration: none;
    color: black;
    font-weight: bold;
}